<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="quick.com.core" >
    <!-- ===============================权限配置声明=============================== -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application>
        <!--fragment的容器-->
        <activity android:name="com.quick.core.baseapp.baseactivity.FrmFragmentActivity" />
        <!--v4fragment的容器-->
        <activity android:name="com.quick.core.baseapp.baseactivity.FrmV4FragmentActivity" />

        <!-- 图片选择器-->
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <!-- 图片预览-->
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <!-- 文件选择 -->
        <activity android:name="com.quick.core.baseapp.component.FileChooseActivity" />
        <!-- 自定义二维码扫描界面 -->
        <activity
            android:name="com.quick.core.baseapp.component.scan.ScanCaptureActivity"
            android:screenOrientation="fullSensor" />
    </application>
</manifest>

