<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vapp.android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/QMUI.Compat.NoActionBar">

<!--        <activity android:name=".MainActivity">-->

<!--        </activity>-->

        <activity android:theme="@style/Theme.AppCompat.Light.NoActionBar" android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".webView.VWebView"></activity>

        <activity android:name=".activitys.ScanView"></activity>

        <activity android:name=".activitys.CallActivity"></activity>

        <activity android:name=".activitys.MessageSend"></activity>

        <activity android:name="com.silversea.activity.LoginActivity"></activity>

        <activity android:name="com.silversea.activity.SelectionActivity"></activity>

        <activity android:name="com.silversea.activity.MessageActivity"></activity>

        <activity android:name="com.silversea.activity.ShowVrActivity"></activity>
    </application>

    <!-- ===============================权限配置声明=============================== -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!--    声网语音   -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

<!--    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>-->
<!--    <uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>-->
<!--    <uses-permission android:name="android.permission.READ_SMS"></uses-permission>-->


    <!--  呼叫  -->
<!--    等需要接入呼叫的时候再放开-->

<!--    <uses-permission android:name="android.permission.CALL_PHONE"/>-->
<!--    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS"/>-->
<!--    <uses-permission android:name="android.permission.READ_CALL_LOG"/>-->
<!--    <uses-permission android:name="android.permission.WRITE_CALL_LOG"/>-->
</manifest>